body{
    background:#1e1e2f;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.calculator{
    background:#2d2d44;
    padding:20px;
    border-radius:15px;
    width:320px;
}

#output{
    height:70px;
    font-size:30px;
    text-align:right;
    margin-bottom:15px;
}

.row{
    display:flex;
}

button{
    flex:1;
    height:60px;
    margin:5px;
    font-size:22px;
    border:none;
    border-radius:10px;
    background:#4e4eff;
    color:white;
}

button:hover{
    background:#6d6dff;
}