body{
background:hsl(258, 90%, 49%);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
}

.calculator{
background:#29273a;
padding:20px;
border-radius:15px;
width:320px;
box-shadow:0 0 20px rgba(0,0,0,0.5);
}

#display{
width:95%;
height:60px;
font-size:28px;
text-align:right;
padding:10px;
border:none;
border-radius:10px;
margin-bottom:15px;
color: aliceblue;
}

.buttons{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
}

button{
height:60px;
font-size:22px;
border:none;
border-radius:10px;
background:#2e1c80;
color:white;
cursor:pointer;
transition:0.2s;
}

button:hover{
background:#514783;
}
